{env.TAHOURI_API_DOMAIN} {
    reverse_proxy tahouri-license-api:8787
    encode gzip
    header {
        -Server
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "no-referrer"
    }
}
