{env.TAHOURI_API_DOMAIN} {
    reverse_proxy tahouri-license-api:8787
    encode gzip
    header {
        -Server
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        Content-Security-Policy "default-src 'none'; frame-ancestors 'none'; base-uri 'none'"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "no-referrer"
    }
}